{% load rest_framework %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{% static "styles.css" %}'>

    <title>About</title>
</head>
<body>
    <!-- {{test_data_1}}
    {{test_data_2}} -->

    <div class="global-header"></div>
   <div class="default"><h3>Some default text before div with content</h3>
    <hr>
   </div>
    <div class="content" id="content">
       
    </div>
<div class="footer">
    <br>
    <hr>
    Some footer
</div>
<script>
    console.log('привет из файла about.html');
</script>
    <script src='{% static "script1.js" %}'></script>
</body>
</html>
