<!DOCTYPE html>
<html>
<head>
    <title>Header HTML</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/f262f24278.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="global-header"></div>
   <div class="default">Some default text before div with content
    <hr>
   </div>
    <div class="content" id="content">
       
    </div>
<div class="footer">
    <br>
    <hr>
    Some footer
</div>
    <script src="/script.js"></script>
</body>
</html>
