* {
    margin: 0;
    padding: 0;
}
.body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(10, 0, 34);
    background-image: url("./img/bg.png");
    
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    color: white;
    font-size: 30px;
}
h3{
    color: white;
    font-size: 22px;
}

P{
    color: rgba(255, 255, 255, 0.658);
    font-size: 18px;
}

.main{
    display: flex;
    min-height: 50vh;
    /* max-width: 80%; */
    background-image:  url("./img/map.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 55%;
}
.left{
    width: 75%;
    padding-top: 100px;
    /* background: green; */
    /* min-width: 500px; */
    /* border: 5px solid white; */
}
.form {
    background-color: #ffffff00;
    /* padding: 50px; */
    border-radius: 10px;
    color: black;
    width: 50%;
    margin-left: 100px;
}
.hidden{
    display: none;
    visibility: none; 
    padding: 0; 
    margin: 0;
}
#fileName{
    font-size: 18px;
    color: #ffffff;
    margin-left: 10px;
}
.case{
    margin-left: 100px;
    width: 50%;
}
.right {
    min-height: 600px;
    width: 25%;
    flex-shrink: 5;
    /* background: #000; */
    /* background-image:  url("./img/map.png"); */
    /* background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% ;
    background-position: center; */

}
/* #bar-chart-horizontal{
    margin: 0 auto;
   
    max-width: 1000px;
    max-height: 500px;
    background: rgba(255, 255, 255, 0);
} */

.canvas_active{
    margin: 0 auto;
    max-width: 80%;
    max-height: 500px;
    background: rgb(255, 255, 255);
}


#output{
    /* margin-left: 150px; */
    padding-top: 30px;
    background: rgb(255, 255, 255);
    max-width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    /* min-height: 300px; */
    
}
#output h2{
    color: black;
}

.mt50{
margin-top: 50px;
}

.mb50{
    margin-bottom: 50px;
}

.mt20{
    margin-top: 20px;
}

.pb100{
    padding-bottom: 100px;
}


/* ------------ header styles ---------- */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00000012;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 30px;
    font-size: 22px;
    font-weight: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);

}
.header__logo{
    flex-basis: 100px;
    font-weight: 800;
    font-size: 30px;
    margin-left: 70px;
}
.header__nav{
    display: flex;
    flex-grow: 2;
    flex-basis: 500px;
    justify-content: center;
    gap: 25px;
}
.header__social{
    margin-right: 70px;    
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-basis: 100px;
    font-size: 30px;
    color: #ffffff;
}
.header a {
    padding: 10px;
    color: white;
    text-decoration: none;
}
.header__nav a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #ffffff;
}
.header__nav a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: 2px solid #ffffff;
}


