
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка файла</title>
</head>
<body>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="text" name="textInput" placeholder="Введите текст">
        <br><br>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Загрузить">
    </form>
    <div class="output" id="output"></div>
    <script src='{% static "validation.js" %}'></script>
</body>
</html>
